*.exe
*.dbg
*.dll
*.pdb
*.exp
*.lib
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dir/
Testing/
CTestTestfile.cmake
install_manifest.txt
reccmp-user.yml
reccmp-build.yml
temp/
